*.pem
*.github
*.vscode

*/.mvn
*/target
helm/python/venv/

*/node_modules
*/node_modules/.bin/mime
*/node_modules/.package-lock.json
*/.DS_Store
*/.idea/*
*/.pnp
*/.pnp.js
*/coverage
*/build

# misc
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local

*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*

*/.terraform/
k8s/aws/