ec2creation/.terraform/
ec2creation/terraform.tfstate
ec2creation/terraform.tfstate.backup
ec2creation/.terraform.lock.hcl
pemkeycreation/.terraform/
pemkeycreation/terraform.tfstate
pemkeycreation/terraform.tfstate.backup
pemkeycreation/.terraform.lock.hcl
datafilter/.terraform/
datafilter/terraform.tfstate
datafilter/terraform.tfstate.backup
datafilter/.terraform.lock.hcl
modules/.terraform/
modules/terraform.tfstate
modules/terraform.tfstate.backup
modules/.terraform.lock.hcl
nullresource/.terraform/
nullresource/terraform.tfstate
nullresource/terraform.tfstate.backup
nullresource/.terraform.lock.hcl
provisioners/.terraform/
provisioners/terraform.tfstate
provisioners/terraform.tfstate.backup
provisioners/.terraform.lock.hcl
fileconnect/.terraform/
fileconnect/.terraform.lock.hcl
fileconnect/terraform.tfstate
fileconnect/terraform.tfstate.backup
backend/.terraform/
backend/.terraform.lock.hcl
securitygroup/.terraform/
securitygroup/terraform.tfstate
securitygroup/terraform.tfstate.backup
securitygroup/.terraform.lock.hcl
remotemodules/.terraform/
remotemodules/.terraform.lock.hcl
eks&terraform/terraform/.terraform/
eks&terraform/eks-vpc/.terraform/
eks&terraform/vpc/.terraform/
cicd/setup/terraform_code/ec2_server/.terraform/
cicd/setup/terraform_code/eks_code/.terraform/

*.pem
*.github
*.vscode
node_modules/
docker/testapp/node_modules/.bin/mime
docker/testapp/node_modules/.package-lock.json
k8s/aws/

github-actions/bmi/.mvn
github-actions/bmi/target

helm/python/venv/

docker/docker-compose-demo/app/node_modules
docker/docker-compose-demo/app/.DS_Store
docker/docker-compose-demo/app/.idea/*

# dependencies
cicd/amazonprime/node_modules
cicd/amazonprime/.pnp
cicd/amazonprime/.pnp.js

# testing
cicd/amazonprime/coverage

# production
cicd/amazonprime/build

# misc
cicd/amazonprime/.DS_Store
cicd/amazonprime/.env.local
cicd/amazonprime/.env.development.local
cicd/amazonprime/.env.test.local
cicd/amazonprime/.env.production.local

cicd/amazonprime/npm-debug.log*
cicd/amazonprime/yarn-debug.log*
cicd/amazonprime/yarn-error.log*